@font-face {
  font-family: "Comic";
  /* src: url("../Comic_Neue/ComicNeue-Bold.ttf"); */
}

@font-face {
  font-family: "ComiB";
  src: url("../Comic_Neue/ComicNeue-Bold.ttf");
}

.home {
  display: flex;
}
.m_header {
  font-family: Comic;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.login {
  border: 1px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px;
  background: black;
  color: white;
  /* background: linear-gradient(10deg, purple 20%, purple 0%, white 100%, white 60%); */
  /* color: white; */
  background-repeat: no-repeat;
  background-position-y: -250px;
  background-position-x: -300px;
  /* background-size: 300px; */
  background-image: url(../14855254_purple-circle-purple-planet-showing-geography-difference-in.png);
}

.sec1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.sec1 img {
  width: 80px;
}

.sec2_name {
  font-size: 15x;
}

.sec2 div {
  padding: 4px 8px;
}

.sec2 input {
  width: 270px;
  height: 40px;
  border-radius: 10px;
}

.sec3 div {
  padding: 2px 8px;
}

.sec3 {
  margin: 20px 0px;
}

.sec3 input {
  width: 275px;
  height: 45px;
  /* background-color: purple; */
  background: rgb(138, 62, 172);
  border-radius: 10px;
  border: 0px;
  color: white;
  /* background-color: antiquewhite; */
  font-size: 20px;
}




/* second part */
.main_page {
  width: 380px;
  height: 600px;
  border: 1px solid;
  background: #161622;
  color: white;
  border-radius: 10px;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 10px 0px;
}
.r_header {
  transform: rotate(90deg);
}
.main_header img {
  width: 30px;
  padding: 10px;
}
.main_content {
  font-weight: 500;
}
.select {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
  margin: 8px 5px;
  padding:4px  10px;
  border-radius: 10px;
  background: #0a0a0a;

  /* background:rgb(23,23,23); */
  /* background: rgb(40, 40, 40); */
  /* background: rgb(18,0,27);
  background: linear-gradient(0deg, rgba(18,0,27,1) 0%, rgba(117,9,255,0.506061799719888) 0%, rgba(0,0,0,1) 12%); */
  -webkit-box-shadow: 0px 0px 11px 11px rgba(108, 0, 216, 0.2) ;
  -moz-box-shadow: 0px 0px 11px 11px rgba(108, 0, 216, 0.2) ;
  box-shadow: 0px 0px 11px 11px rgba(108, 0, 216, 0.2) ;
  /* background: rgb(42,42,42);
  background: linear-gradient(0deg, rgba(42,42,42,1) 0%, rgba(117,9,255,0.5256696428571428) 0%, rgba(29,29,29,1) 11%); */
  color: white;
}

.left_select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_side {
  margin-left: 10px;
  font-family: Comic;

}

.right_select {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.left_side_select {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
}

.home_select img {
  width: 40px;
}

.price {
  background: #722cce;
  border: 1px solid #270257;
  border-radius: 10px;
  padding: 1px;
  color: white;
  /* font-weight: 900; */
  font-family: ComiB;
  font-size: 20px;

}
.data {
  font-weight: 100 !important;
}