<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229608689606-5mrabv761ivervqph8h0n09ou4c6hqgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229608689606-5mrabv761ivervqph8h0n09ou4c6hqgu</string>
	<key>API_KEY</key>
	<string>AIzaSyAnsu0cFrIAC_XbWYLGuUC_TwGpDY0GCfo</string>
	<key>GCM_SENDER_ID</key>
	<string>229608689606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.event.flats</string>
	<key>PROJECT_ID</key>
	<string>eventflats</string>
	<key>STORAGE_BUCKET</key>
	<string>eventflats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229608689606:ios:7acc006791db99bf2eacc7</string>
	<key>DATABASE_URL</key>
	<string>https://eventflats-default-rtdb.firebaseio.com</string>
</dict>
</plist>